# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.gitignore
venv
.idea
settings.py
db.sqlite3
first_web/__pycache__/